@model Online_Shop.Models.BeanBag

@{
    ViewBag.Title = "Details";
}

<h2>Details for @Html.DisplayFor(model => model.name)</h2>

<fieldset>
    <table>
        <td class="display-field">
            <img src="@Html.DisplayFor(model => model.picture)" width="200" height="150" />
        </td>
        <td>
            <b>Color:</b> @Html.DisplayFor(model => model.color)<br />
            <b>Measures:</b> @Html.DisplayFor(model => model.measure)<br />
            <b>Price:</b> @Html.DisplayFor(model => model.price)<br />
            <b>Description:</b> @Html.DisplayFor(model => model.description)
        </td>
    </table>
</fieldset>