@using Online_Shop.Resources
@using MvcGlobalisationSupport
@model int

@{
    ViewBag.Title = Global.CheckoutComplete;
    ViewBag.Name = Global.CheckoutCompleteTitle;
    ViewBag.Message = Global.CheckoutCompleteMessage;
    ViewBag.Message2 = Global.CheckoutCompleteContinueShopping;
    
}

<h2>@ViewBag.Name</h2>

<p>@ViewBag.Message @Model</p>

<p>@ViewBag.Message2 
    @Html.ActionLink("Home", "Index", "Home")
</p>
