@using Online_Shop.Resources
@{
    ViewBag.Title = Global.About;
    ViewBag.Message = Global.ContactInformation;
    ViewBag.Name = Global.ContactInformationName;
    ViewBag.Street = Global.ContactInformationStreet;
    ViewBag.City = Global.ContactInformationCity;
    ViewBag.Email = Global.ContactInformationEmail;
    
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
    <h4>@ViewBag.Message</h4>
        @ViewBag.Name<br />
        @ViewBag.Street<br />
        @ViewBag.City <br />
        @ViewBag.Email
    </p>
</article>